<!--The content below is only a placeholder and can be replaced.-->
<div>
  <mat-toolbar color="primary" (click)="toolbarClicked()">
    GDG Sacramento Raffle App
  </mat-toolbar>
  <mat-card>
    <mat-card-title>Enter the raffle</mat-card-title>
    <mat-card-content>
      <app-user-entry></app-user-entry>
      <app-entries [entries]="participants"></app-entries>
    </mat-card-content>
    <button mat-raised-button color="accent" (click)="winners = service.drawRaffle()" *ngIf="service.isAdmin">
      Draw winners
    </button>
    &nbsp;
    <button mat-raised-button color="accent" (click)="service.resetRaffle(); winners = []" *ngIf="service.isAdmin">
      Reset raffle
    </button>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let winner of winners; index as i">
          {{i+1}} - {{winner}}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>


